.table { 
    margin-top: 20px;
} 
.table-heading { 
    background-color: var(--second); 
    color: #fff;
}  
.table-flex { 
    display: flex; 
    align-items: center;
} 
.table-image { 
    width: 220px; 
    height: 160px;
}
.container { 
    padding: 0; 
    margin: 0;
}